/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

section {
    margin: 30px auto;
    width: 100%;
}

a,
a:visited {
    color: var(--002);
}

html{
    scroll-behavior: smooth;
}

/* color palette */

:root {
    --000: #F0F0F0;
    --001: #00000085;
    --002: #D9D9D9;
    --003: white;
    --004: #F25221B2;
    --005: #F25221CC;
    --006: #F25221;
    --007: black;
}

/* Header */

header nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background: var(--001);
    height: 8vh;
    z-index: 100000;
    transition: 0.6s;
}

header nav a:hover{
    border-bottom: 2px solid white;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* Banner */

.overlay{
    width: 100%;
    height: 100vh;
    background-color: var(--000);
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/section/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: var(--000);
    text-align: center;
    height: 100vh;
    letter-spacing: 3px;
}

#banner .container-text {
    display: flex;
    flex-direction: column;
    font-size: clamp(1em, 1em + 0.1vw, 1.5em);
    gap: 10px;
    padding: 10px;
}

#banner .container-text h2 {
    font-weight: 100;
}

#banner a {
    margin-top: 50px;
    background-color: var(--005);
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    padding: 0.5rem 0.8rem;
    border-radius: 60px;
    transition: transform 0.3s ease;
}

#banner a:hover {
    transform: scale(1.1);
}

/* Services */
#services h3 {
    text-align: center;
    margin: 0 0 20px 0;
}


#services .container-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 auto;
    width: 95%;
}


.icon {
    width: 64px;
    height: 64px;
}

.icon img{
    width: 100%;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
    line-height: 16px;
    height: 250px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    background-color: var(--002);
    max-width: 600px;
    width: calc((100% / 2) - 10px);
    border-radius: 30px;
    flex-grow: 1;
}

.service img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.service p {
    text-align: justify;
    flex-basis: 100%;
    flex-grow: 1;
}


.service a {
    background-color: var(--005);
    color: var(--003);
    padding: 5px 30px;
    border-radius: 60px;
    transition: transform 0.3s ease;
}

.service a:hover{
    transform: scale(1.1);
}


/* Quote */

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    line-height: 21px;
    padding: 15px;
    background-color: var(--007);
    color: var(--002);
}

.container-quote p {
    text-align: justify;
}

.container-quote {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container-quote cite {
    align-self: flex-end;
}


/* Infos */

#infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 25px;
    padding: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: var(--002);
    border-radius: 20px;
    padding: 20px;
}

#infos .container{
    width: calc(50% - 25px);
}

.infos .container:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.info p {
    text-align: justify;
}

.info p em,
.info span {
    color: var(--004);
    font-style: normal;
    font-weight: bold;
}

.info h5:first-child {
    align-self: flex-start;
    color: var(--004);
    font-size: 20px;
}

.info ul {
    margin-left: 18px;
}


.infos .container:last-child .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--002);
    gap: 25px;
    padding: 50px 20px;
}

.infos .container:first-child .info:last-child li {
    text-align: justify;
}

/* Customers */

#customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.customer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.customers .customer img {
    object-fit: cover;
    width: 100%;
}

.customers .customer {
    width: calc((100% / 5));
}

.customer:hover {
    background-color: var(--000);
    transform: scale(1.1);
}


/* characteristics */

#characteristics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#characteristics .container:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--006);
    width: 100%;
    padding: 20px;
    gap: 20px;
}

#characteristics .container:first-child .characteristic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--003);
    border-radius: 20px;
    padding: 10px;
    max-width: 130px;
    text-align: center;
    transition: transform 0.3s ease;
}

#characteristics .container:first-child .characteristic:hover {
    transform: scale(1.1);
}


#characteristics .container:last-of-type {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
    background-color: var(--004);
    padding: 20px;
}

#characteristics .container:last-child .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--003);
}

#characteristics .container:last-child p {
    max-width: 200px;
    flex-grow: 1;
    text-align: center;
}

#characteristics .container:last-of-type .step div:first-child {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--006);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 100;
}

#characteristics .container:last-of-type span {
    display: block;
    position: absolute;
    margin-top: 12px;
    height: 1px;
    width: 50%;
    background-color: var(--003);
    opacity: 0.5;
    /* color: var(--002); */
    /* height: 87px; */
}

/* Budget */

#budget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 25px auto;
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    flex-grow: 1;
}

#budget .container-form:first-of-type{
    border-right: 1px solid black;
    padding-right: 50px;
}


form {
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 50px;
}


form input,  textarea{
    height: 30px;
    padding: 5px 10px;
    color: var(--003);
    font-size: 13px;
    background-color: var(--004);
    border: none;
    border-radius: 20px;
}

form textarea{
    height: 222px !important;
}

.item-form {
    display: flex;
    flex-direction: column;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--000);
    padding: 15px;
    background-color: var(--007);
}

footer .container-text {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

footer .container-text p {
    max-width: 450px;
}

footer .container-text .container-infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .container-text .social-medias{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .container-map iframe{
    width: 290px;
    height: 240px;
}


/* Responsive */

@media screen and (max-width: 768px) {

    footer .container-map, #characteristics .container:last-of-type, #quote, .infos .container:last-child{
        display: none;
    }


    #services .service {
        height: auto;
    }

    footer .container-text{
        flex-direction: column;
        text-align: center;
    }

    .customers .customer {
        width: calc(100% / 2);
    }

    #infos .container{
        width: 100%;
    }

    .infos .container .info{
        width: 100%;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    #budget {
        align-items: stretch;
        padding: 10px;
    }

    #budget form{
        flex-wrap: wrap;
        gap: 10px;
    }

    #budget .container-form:first-of-type{
        border-right: none;
        padding-right: 0;
    }
    
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}